# ===================================================================
# tp-rigtoolkit-houdini requirements file
# ===================================================================

tp-dcc-common
tp-dcc-core
tp-dcc-houdini